body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0; 
  background-image: url('https://www.artisan.co/assets/home/homepage-hero-bg.webp');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
  width: 100%;
  background: transparent;
  /* background: linear-gradient(266deg, rgb(173, 129, 255) 6.11%, rgb(125, 55, 255) 91.85%); */
}

